.background {
    border: solid 1px #ff0000;
    background-image: url("../../assets/images/vitrail-rosace-accueil.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titre-accueil {
    font-size: 2em;
    color: darkgray;
    text-align: center;
}